
<!DOCTYPE html>
<html>
	<head>
		<title>stressband</title>
		<!-- Viewport mobile tag for sensible mobile support -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="css/style.css" type="text/css" />
	
	<script type="text/javascript">
		// open mobile in a new window
		function openMobile(e){
			var settings = "height=680,width=400,location=0,scrollbars=no,status=no,titlebar=no,toolbar=no,left=200";
			window.open("/mobile","_blank",settings);
			return false;
		}
	</script>
		
	</head>

	<body>
		<div id="container">
		<div id="wrap">
		<img id="logo" src="images/logo.png" width="700" height="124"/>
		<ul >
		<li><a class="sans-serif" href="#" onclick="openMobile()">Mobile Display</a></li>
		<li><a class="sans-serif" href="/dashboard">Dashboard</a></li>
		</ul>
		</div>
		</div>
	</body>
</html>
