<!DOCTYPE html>
<html>
	<head>
		<title>stressband Mobile Dispay</title>

		<!-- Viewport mobile tag for sensible mobile support -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="css/style.css" type="text/css" />
		<link rel="stylesheet" href="css/mobile.css" type="text/css" />
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script src="js/lib/LAB.min.js" type="text/javascript"></script>
		<script type="text/javascript">
			$LAB
			.script("js/lib/jquery-1.9.1.min.js")
			.script("js/lib/easeljs-0.6.0.min.js")
			.script("js/lib/underscore-min.js")
			.script("js/lib/d3.v2.min.js").wait()
			.script("js/mobile.js")
			.wait(function(){
				$(function(){
					SB.mobile.init('#container','#screen');
				});
			});
		</script>
		
	</head>

	<body>
		<div id="container">
			<div id="prompt">
				<ul id="cards">
					<li class="card ask">
						<span class="icon-lightbulb"></span>
						<p> It looks like you could use a <span>relaxation</span> exercise.</p>
						<ul class="opts">
							<li class="btn next">Let's Do It!</li>
							<li id="cancel" class="btn neg">Not Now.</li>
						</ul>
					</li>
					<li class="card dir">
						<span class="icon-lightbulb"></span>
						<p> <span>Breathe deep</span> and help the pufferfish calm down. </p><p class="details">every four good breaths will deflate the pufferfish closer to normal </p>
						<ul class="opts">
							<li class="btn next">I'm Ready!</li>
						</ul>
					</li>
				</ul>
			</div>
			<div id="chart"></div>
			<ul id="controls">
				<li id="next" class="sans-serif disabled"> Inflate </li>
				<li id="prev" class="sans-serif"> Deflate </li>
			</ul>
			<section class="above">
				<div class="bubbles"></div>
				<ul id="breaths">
					<li>
					<svg version="1.1" class="breath" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
					<path d="M48.376,40.666C45.985,25.129,34.989,10.548,32.36,10.548c-2.63,0-2.391,6.693-3.825,6.215
						c-1.434-0.478-2.151-3.585-2.151-3.585V1.704h-2.768v11.474c0,0-0.717,3.107-2.151,3.585c-1.434,0.479-1.195-6.215-3.825-6.215
						S4.016,25.129,1.624,40.666c-2.39,15.539,21.036,4.543,20.796-8.127c-0.238-12.61,0.915-15.985,2.58-15.985
						c1.563,0,2.817,3.375,2.579,15.985C27.34,45.209,50.766,56.205,48.376,40.666z"/>
					</svg>
					</li>
					<li>
					<svg version="1.1" class="breath" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
					<path d="M48.376,40.666C45.985,25.129,34.989,10.548,32.36,10.548c-2.63,0-2.391,6.693-3.825,6.215
						c-1.434-0.478-2.151-3.585-2.151-3.585V1.704h-2.768v11.474c0,0-0.717,3.107-2.151,3.585c-1.434,0.479-1.195-6.215-3.825-6.215
						S4.016,25.129,1.624,40.666c-2.39,15.539,21.036,4.543,20.796-8.127c-0.238-12.61,0.915-15.985,2.58-15.985
						c1.563,0,2.817,3.375,2.579,15.985C27.34,45.209,50.766,56.205,48.376,40.666z"/>
					</svg>
					</li>
					<li>
					<svg version="1.1" class="breath" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
					<path d="M48.376,40.666C45.985,25.129,34.989,10.548,32.36,10.548c-2.63,0-2.391,6.693-3.825,6.215
						c-1.434-0.478-2.151-3.585-2.151-3.585V1.704h-2.768v11.474c0,0-0.717,3.107-2.151,3.585c-1.434,0.479-1.195-6.215-3.825-6.215
						S4.016,25.129,1.624,40.666c-2.39,15.539,21.036,4.543,20.796-8.127c-0.238-12.61,0.915-15.985,2.58-15.985
						c1.563,0,2.817,3.375,2.579,15.985C27.34,45.209,50.766,56.205,48.376,40.666z"/>
					</svg>
					</li>
					<li>
					<svg version="1.1" class="breath" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
					<path d="M48.376,40.666C45.985,25.129,34.989,10.548,32.36,10.548c-2.63,0-2.391,6.693-3.825,6.215
						c-1.434-0.478-2.151-3.585-2.151-3.585V1.704h-2.768v11.474c0,0-0.717,3.107-2.151,3.585c-1.434,0.479-1.195-6.215-3.825-6.215
						S4.016,25.129,1.624,40.666c-2.39,15.539,21.036,4.543,20.796-8.127c-0.238-12.61,0.915-15.985,2.58-15.985
						c1.563,0,2.817,3.375,2.579,15.985C27.34,45.209,50.766,56.205,48.376,40.666z"/>
					</svg>
					</li>
				</ul>
			</section>
			<section class="below">
				<canvas id="screen" width="500px" height="500px"></canvas>
			</section>
		</div>
	</body>
</html>
