html,body {
	height: 100%;
	overflow: auto;
	background-color: #283038;
}

#prompt {
	position: absolute;
	background-color:#283038;
	width: 100%;
	height: 100%;
	z-index: 500;
}
#cards {
	position: relative;
	overflow: hidden;
	height: 600px;
	width: 400%; /* this is arbitrary right now */
	text-align: center;
}
.card {
	width: 350px;
	float: left;
	margin: 8rem 25px 0;
	padding: 3.5em 3.5em;
	border-radius: 8px;
}
.card.ask {
	background: white 	url(../images/mobile/heartLine.svg) no-repeat 0 30px;
}
.card.dir {
	background: white 	url(../images/mobile/belly04.svg) no-repeat 0 15px;
}
.card p {
	margin-top: 2rem;
	font-size: 2.2rem;
}
.card p.details {
	font-size: 1.6rem;
}
.card p span {
	color: #54b9dd;
}
.card span.icon-lightbulb {
	font-size: 12rem;
	text-align: center;
	position: relative;
}
.card span.icon-lightbulb:before {
	position: static;
	margin: 0;
	color: #54b9dd;
	opacity: 0;
}
.opts li{
	
	display: block;
	padding: 1.5rem;
	margin: 3rem 0;
	border-radius: 6px;
}
.btn {
	background-color: #54b9dd;
	color: white;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 2rem;
	box-shadow: 
		inset 0 1px 0 #54b9dd,
		inset 0 2px 0 rgba(255,255,255,.25), 
		inset 0 5px 0 rgba(255,255,255,.1),
		inset 0 -1px 0 rgba(0,0,0,.2),
		0px 1px 5px rgba(0,0,0,.1);
}
.btn:hover {
	cursor: pointer;
}
.btn.neg {
		background-color: #e17d74;
	box-shadow: 
		inset 0 1px 0 #e17d74,
		inset 0 2px 0 rgba(255,255,255,.25), 
		inset 0 5px 0 rgba(255,255,255,.1),
		inset 0 -1px 0 rgba(0,0,0,.2),
		0px 1px 5px rgba(0,0,0,.1);
}



#chart {
	width: 250px;
	height: 90px;
	position: absolute;
	top: 10px;
	right: 30px;
}

.grid .tick {
	stroke: #ECECEC;
}
#line {
	fill: none;
	stroke: #c84c9c;
	stroke-width: 2px;
}

#controls {
	display: none;
	position: fixed;
	top: 5px;
	left: 20px;
	width: 160px;
	z-index: 100;
	
}
#controls li {
	display: block;
	height: 26px;
	padding: 6px;
	background-color: #AAA;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
	margin: 10px;
	text-align: center;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.03, rgb(240,240,240)),
		color-stop(0.95, rgb(255,255,255))
	);
	background-image: linear-gradient(bottom, rgb(240,240,240) 3%, rgb(255,255,255) 95%);
	background-image: -o-linear-gradient(bottom, rgb(240,240,240) 3%, rgb(255,255,255) 95%);
	background-image: -moz-linear-gradient(bottom, rgb(240,240,240) 3%, rgb(255,255,255) 95%);
	background-image: -webkit-linear-gradient(bottom, rgb(240,240,240) 3%, rgb(255,255,255) 95%);
	background-image: -ms-linear-gradient(bottom, rgb(240,240,240) 3%, rgb(255,255,255) 95%);
	border-radius: 3px;
	border: 1px solid #999;
	text-shadow: 0 1px 0 white;
	transition:all 1s ease;
}
#controls li:hover {
	cursor: pointer;
	border: 1px solid rgb(90,115,70);
}

/*****************  IN THE MINI-GAME ********/

.above {
	position: absolute;
	top: 0;
	z-index: 300;
	height: 100%;
	width: 100%;
	background: url('../images/mobile/bubbles.svg') repeat center,
				url('../images/mobile/rocks-left.svg') no-repeat bottom left,
				url('../images/mobile/rocks-right.svg') no-repeat bottom right;
}
.below {
	position: absolute;
	top: 0;
	z-index: 100;
	background: url('../images/mobile/rocks-dist.svg') repeat-x bottom, 
				url('../images/mobile/surface.svg') no-repeat top center;
}
#breaths {
	width: 100%;
	height: 60px;
	text-align:center;
	padding-top:15px;
	
}
#breaths .breath path{
	stroke: white;
	stroke-width: 1pt;
	fill: none;
	width: 20px;
}

#breaths li.lit {
	opacity: 1;
}

.filter {
	width: 100%;
	height: 100%;
	background: #57bde5;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
}
