<div id="container">
<div id="chart"></div>
<ul id="controls">
<li id="next" class="sans-serif disabled"> Inflate </li>
<li id="prev" class="sans-serif"> Deflate </li>
</ul>
<section class="above">
<ul id="breaths">
<li></li>
<li></li>
<li></li>
<li></li>
</ul>
</section>
<section class="below">
<div class="filter"></div>
<canvas id="screen" width="500px" height="500px"></canvas>
</section>