<ul id="controls">
<li id="next"> Next Stage </li>
<li id="prev"> Prev Stage </li>
</ul>
<div id="container">
	<div id="phone">
	<canvas id="screen" width="549px" height="968px"></canvas>
	</class>
</div>